        body   {
           overflow-x:hidden;
         	 font-family: Arial, Helvetica, sans-serif;
         	 text-align:center;
         	 margin-top:6em;
           line-height: 1.4;}

        .navbar {
           background:#fff;
           position:fixed;
           top: 0;
           left:0;
           width: 100%;
           padding: 8px 2px;
           z-index:1;
           border-bottom:1px solid #757373;
           }

        .navbar a {
           float: right;
           display: block;
           color: #1c1c1c;
           text-align: center;
           padding: 14px 18px;
           text-decoration: none;
           font-size: 16px;
           }

        .navbar a:hover { color:rgb(146, 181, 210); }